* {
  box-sizing: border-box;
}

h1, h2, div, p {
  font-family: georgia
}

h1 {
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  margin-bottom: 0px;
  text-align: center;
  padding: 10px;
  margin-left:  60%;
  position:  relative;
  top: -20px;
}

#Chicken {
  background-color: #ffb3cc;
  border: 1px solid black;
}

#Beef {
  background-color: #b3003b;
  border: 1px solid black;
}

#Sushi {
  background-color: #e6b800;
  border: 1px solid black;
}

p {
  width: 100%;
  height: 120%;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  color: black;
  padding: 10px 10px 0px 10px;
}

div {
  border: 1px solid black;
  background-color: #b3b3b3;
  margin-bottom: 15px;
  padding: 0px;
  }


@media (min-width: 992px) {
 .col-lg-4{
    float: left;
    margin-left: 2%;
    width: 30.66%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
    margin-left: 2%
  }
  .col-md-6 {
    width: 47%;
  }
  .col-md-12 {
    width: 96%;
  }
}